body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6ff;
  text-align: center;
  margin: 0;
  padding: 0;
}

#information {
  text-align: left;
  background: rgb(220, 212, 251);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 50%;
  margin: auto;
}

.btndiv {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn1 {
  padding: 10px 20px;
  background-color: #6c47ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.btn2 {
  padding: 10px 20px;
  background-color: #e83159;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.btn3 {
  padding: 10px 20px;
  background-color: #19be84;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
}

li {
  display: inline-block;
  padding: 10px;
  /* float: right; */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4c84ec;
}
