header{
    text-align: center;
}
.maindiv{
    display: flex;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    height: 1200px;
}
.leftdiv{
    width: 50%;
}

.rightdiv{
    width: 50%;
}
.box1{
    border: 1px solid black;
    background-color: bisque;
    height: 50%;
}
.box2{
    border: 1px solid black;
    background-color: chocolate;
    height: 50%;
}
.box3{
    border: 1px solid black;
    background-color: cornflowerblue;
    height: 70%;
}
.box4{
    border: 1px solid black;
    background-color: darkcyan;
    height: 30%;
}